<div class="block-provus-heading">
  <div class="header-align-{{ alignment }} line-{{ decorative_line ? 'on' : 'off' }}">
    <div class="subheading">
      <div class="field field--name-field-provus-sub-title">
      {{ subtitle }}
      </div>
    </div>
    <{{ level_tag }} class="title">
      <div class="field field--name-field-provus-title">
      {{ title }}
      </div>
    </{{ level_tag }}>
  </div>
</div>