<div class="card card-event-mini">
  <div class="card-body">
    <div class="card-date">
      <div class="card-date-top">
        {{ start_date }}
      </div>
      <div class="card-date-bottom">
        {{ end_date }}
      </div>
    </div>
    <div class="card-title">
      <h3>
        <a href="{{ url }}" class="fullclick">{{ event_title }}</a>
      </h3>
    </div>
    <div class="card-full-date">
      {{ full_dates }}
    </div>
    <div class="card-body-text">
      {{ summary }}
    </div>
  </div>
</div>
